body{
    background-color: beige;
    color: black;
}
main {
    width: 60%;
    margin: 0 auto;
    font-family: 'Livvic', sans-serif;
}

blockquote>footer {
    text-align: right;
}
h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

.chapter{
    background-color: bisque;
}